<div class="container-fluid">
    <div class="row">
      <div class="col-sm-2" style="margin-top: 10px; text-align: left;">
        <img src="../assets/pixoLogo.svg" width="40vw" height="40vh" />   
        &nbsp;&nbsp; <b style="color: crimson; font-size: larger;">Pixogram</b>
    </div>
       
      <div class="col-sm-1 col-sm-offset-1"></div>
      <div class="col-sm-6">
        <nav class="navbar navbar-expand-lg" style="font-weight: bold; background-color: darkcyan; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
            <div class="navbar-nav mx-auto" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" style="color: crimson;" href="#" routerLink="uploadmedia">Upload Media<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: crimson;" href="#" routerLink="mymedia">My Media</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: crimson;" href="#" routerLink="follow">Followers/Following</a>
                </li>
              </ul>
            </div>
          </nav>
      </div>
      <div class="col-sm-1 col-sm-offset-1"></div>
      <div class="col-sm-2" style="text-align: right; margin-top: 15px;">
        <a href="#" style="text-decoration:none; color: crimson; font-weight: bold;" routerLink="newsfeed">Account</a>
        <img src="{{ userpic }}" onerror="this.onerror=null; this.src='../assets/account.svg'"  width="30vw" style="margin-left: 5px;"/>
      </div>
    </div>
    
  </div>
